

// bower:css
// endbower


.page-view {
	display: none;
}

body {
	background-color: #FBFFE6;
}
nav {
	font-size: 22px;
	font-family: helvetica;
	background-color: #523E33;
	padding: 4px 0 0 8px;
	height: 25px;
}
a {	color: white;
	text-decoration: none;
}
a:hover {
	color:#FBFFE6;
}
h1	{
	font-family:helvetica;
	font-size:20px;
}
